.nav-link {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

    .nav-link:hover {
        color: #007bff;
    }

.btn {
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
}

.btn-primary {
    background-color: #0056b3;
    color: white;
    border: none;
}

.btn-outline-primary {
    border: 2px solid #0056b3;
    color: #0056b3;
    background-color: white;
}
